<!DOCTYPE html>
    <html>
        <head>
            <title>Burger Devourer</title>
            <script src="https://code.jquery.com/jquery.js"></script>
            <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        </head>

        <body>
            <img src="/assets/img/burger.png">
            <header>Eat yummy burger</header>
            <textarea rows="8" cols="100"></textarea>
            <button class="submit">Submit</button>
            {{{body}}}
            <script src="/assets/js/script.js"></script>
        </body>
    </html>