<!DOCTYPE html>
    <html>
        <head>
            <title>Burger Devourer</title>
            <script src="https://code.jquery.com/jquery.js"></script>
            <link href="/assets/css/style.css">
        </head>

        <body>
            {{{body}}}
            <script src="/assets/js/script.js"></script>
        </body>
    </html>