body {
    background: lightsalmon;
}

header {
    font-size: 32px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-group {
    text-align: center;
}

.devoured {
    text-align: center;
    opacity: 50%;
}

.notdevoured {
    text-align: center;
}

.leftcontainer {
    width: 50%;
    float: left;
}

.rightcontainer {
    width: 50%;
    float: right;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}